.hidden {
  display: none;
}
.twisted_box {
  width: 100px;
  height: 100%;
  border-bottom: 360px solid #666666;
  border-left: 180px solid transparent;
  border-right: 180px solid #666666;
}
