<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/home/style.css" />
    <title>범수의 포트폴리오</title>
  </head>
  <body>
    <button
      id="sign_in"
      type="botton"
      onclick="location.href='http://localhost:3000/login'"
    >
      Sign in
    </button>
    <div id="box1" class="twisted_box"></div>
    <form class="hidden" id="login-form">
      <input
        required
        maxlength="15"
        type="text"
        placeholder="What is your name?"
      />
      <input type="submit" value="Log In" />
    </form>
    <h2 id="clock">00:00:00</h2>
    <h1 class="hidden" id="greeting"></h1>
    <form id="todo-form">
      <input type="text" placeholder="Write a To Do and Press Enter" required />
    </form>
    <ul id="todo-list"></ul>
    <div id="quote">
      <span></span>
      <span></span>
    </div>
    <div id="weather">
      <span></span>
      <span></span>
    </div>
    <script src="/js/home/index/greetings.js"></script>
    <script src="/js/home/index/clock.js"></script>
    <script src="/js/home/index/quotes.js"></script>
    <script src="/js/home/index/background.js"></script>
    <script src="/js/home/index/todo.js"></script>
    <script src="/js/home/index/weather.js"></script>
  </body>
</html>
